html {
  height: 100%;

  * {
    box-sizing: border-box;
  }

  font-size: 1em;
  // Default (Extra small screens). 1rem = 7px
  font-size: percentage(7 / 16);
  @media (min-width: 768px) {
    // Small screens. 1rem = 8px
    font-size: percentage(8 / 16);
  }
  @media (min-width: 992px) {
    // Medium screens. 1rem = 9px
    font-size: percentage(9 / 16);
  }
  @media (min-width: 1200px) {
    // Large screens. 1rem = 10px
    font-size: percentage(10 / 16);
  }
}

body {
  font-family: 'Anonymous Pro', 'Times New Roman', Serif;
  font-kerning: normal;
  font-size: 1.8em;
}

%font-margin {
  margin-bottom: 1.8rem;
  margin-top: 0;
}

h1, 
.h1 {
  @extend %font-margin;
  font-size: 3.6rem;
  text-transform: uppercase;
}

h2, 
.h2 {
  @extend %font-margin;
  font-size: 3.2rem;
}

h3, 
.h3 {
  @extend %font-margin;
  font-size: 3rem;
}

h4, 
.h4 {
  @extend %font-margin;
  font-size: 2.4rem;
}

h5, 
.h5 {
  @extend %font-margin;
  font-size: 2rem;
}

h6, 
.h6 {
  @extend %font-margin;
  font-size: 1.8rem;
}

p {
  line-height: 1.5;
}

a {
  color: $red;
  text-decoration: none;
}
